<div class="contenedor">

  <div class="screen">
    <div class="circle">
      <h1 style="font-size: 4rem;">{{row}}</h1>
      <h3>Rows</h3>
    </div>
  </div>

  <div class="total-container">
    <h3>Total:</h3>
    <input type="number" inputmode="numeric" class="total-input" [(ngModel)]="total">
  </div>

  <div class="total-container">
    <h3>Pending: {{pending}}</h3>
  </div>



  <div class="d-flex justify-content-between align-items-end ">

    <button class="btn-reset" (click)="reset()">Reset</button>

    <div class="botones-container ">
      <button class="btn-mas" (click)="calcular(1)"> + </button>
      <button class="btn-menos" (click)="calcular(-1)"> - </button>
    </div>

  </div>

</div>